<div class="container-fluid">

  <div class="row" style="margin-bottom:20px; margin-top:20px;">
    <div class="col col-auto">
      <h3>CONSULTAR AUTOMÓVILES</h3>
    </div>
    <div class="col" style="margin-top:5px;">
      <p>Criterios de búsqueda</p>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <div>
        <div class="form-group">
          <label for="cmb_pais">País</label>
          <select class="form-control" id="cmb_pais" (change)="obtenerCiudades($event.target.value)" [(ngModel)]="consulta.paisId">
            <option [value]="Seleccione" selected>Seleccione</option>
            <option *ngFor="let pais of paises" [value]="pais.Id" >{{pais.Nombre}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="cmb_ciudad">Ciudad</label>
          <select class="form-control" id="cmb_ciudad" [(ngModel)]="consulta.ciudadId" [disabled]="ciudades.length == 0">
            <option [value]="Seleccione" selected>Seleccione</option>
            <option *ngFor="let ciudad of ciudades" [value]="ciudad.Id" >{{ciudad.Nombre}}</option>
          </select>
        </div>
        <div class="row">
          <div class="form-group col-6">
            <label>Fecha desde</label>
            <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="consulta.fecha_retiro" ngbDatepicker #d_desde="ngbDatepicker" (click)="d_desde.toggle()">
          </div>
          <div class="form-group col-6">
            <label>Fecha hasta</label>
            <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="consulta.fecha_devolucion" ngbDatepicker #d_hasta="ngbDatepicker" (click)="d_hasta.toggle()">
          </div>
        </div>
        <div class="form-group">
          <div class="text-right" style="margin-top:30px;">
            <button type="button" (click)="consultar()" class="btn pull-right btn-primary">Buscar</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row" *ngIf="!resultados.length" style="margin-top:40px;">
    <div class="col">
      <h5>Sin resultados para mostrar</h5>
    </div>
  </div>

  <div *ngIf="resultados.length" style="margin-top:40px;">
    <div class="row row-section line-divider-bottom">
      <div class="col-1">
        <p><strong>#</strong></p>
      </div>
      <div class="col-2">
        <p><strong>Marca</strong></p>
      </div>
      <div class="col-2">
        <p><strong>Modelo</strong></p>
      </div>
      <div class="col-2">
        <p><strong>Precio día</strong></p>
      </div>
      <div class="col-2">
        <p><strong>Disponibles</strong></p>
      </div>
      <div class="col-2 text-center">
        <p><strong>Acciones</strong></p>
      </div>
    </div>
  </div>



  <div class="item-lista row line-divider-bottom" *ngFor="let auto of resultados; let indice=index">
    <div class="col-1 line-divider-right">
      <div class="primer-item">
        <p>{{indice + 1}}</p>
      </div>
    </div>
    <div class="col-2 ">
      <div class="item">
        <p>{{auto.Marca}}</p>
      </div>
    </div>
    <div class="col-2">
      <div class="item">
        <p>{{auto.Modelo}}</p>
      </div>
    </div>
    <div class="col-2 ">
      <div class="item" style="padding-left:20px;">
        <p>{{auto.PrecioPorDia}}</p>
      </div>
    </div>
    <div class="col-2 line-divider-right">
      <div class="item" style="padding-left:20px;">
        <p>{{auto.CantidadDisponible}}</p>
      </div>
    </div>
    <div class="col-1">
      <div class="item-acciones col-md-auto col-xl-3 line-divider-left" align="left">
        <button type="button" class="btn btn-primary " ngbTooltip="Reservar" (click)="open(content, indice)" [disabled]="auto.CantidadDisponible == 0">
          RESERVAR
        </button>
      </div>
    </div>
  </div>
</div>



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Detalles del vehículo:</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-6">
        <label>Marca: {{auto.Marca}}</label>
      </div>
      <div class="col-6">
        <label>Modelo: {{auto.Modelo}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label>Cantidad de puertas: {{auto.CantidadPuertas}}</label>
      </div>
      <div class="col-6">
        <label>Puntaje: {{auto.Puntaje}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label>Dirección asistida: {{auto.TieneDireccion ? "SI" : "NO"}}</label>
      </div>
      <div class="col-6">
        <label>Aire acondicionado:  {{auto.TieneAireAcon ? "SI" : "NO"}}</label>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" name="button">Cancelar</button>
    <button type="button" class="btn btn-secondary" (click)="reservar()">Reservar</button>
  </div>
</ng-template>
