<style>
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
</style>


<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#" style="font-family: 'Shrikhand', cursive; font-size: xx-large;">TP IAEW</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#" [routerLink]="['reserva']">Reservar vehiculo <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#" [routerLink]="['consulta-reserva']">Ver reservas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="login('read')" href="#">Login (read)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="login('write')" href="#">Login (write)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="login('read write')" href="#">Login (read write)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav>
